<app-header title="Card"></app-header>

<ion-content padding>
    <ion-card mode="ios" color="primary">
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item color="primary">
          <ion-icon color="light" slot="start" name="pin"></ion-icon>
          <ion-label>Marker</ion-label>
        </ion-item>

        <ion-card-content>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, reprehenderit et inventore vel error totam sed deleniti ullam, soluta quisquam eligendi doloremque asperiores a ratione consectetur cupiditate neque reiciendis quos?</ion-card-content>
      </ion-card>

      <ion-card>
        <ion-img src="./assets/shapes.svg"></ion-img>
        <ion-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit consequatur iure eaque cum eius. Nostrum, atque unde labore praesentium, commodi totam nulla repellat architecto fugiat sed id, laboriosam dicta? Blanditiis.</ion-card-content>
      </ion-card>

</ion-content>
