<app-header title="Grid - Rows"></app-header>

<ion-content padding fullscreen>
  <ion-grid fixed>

    <!-- <ion-row>
      <ion-col *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]; let i = index;"> {{i + 1 }}</ion-col>
    </ion-row> -->

    <ion-row>

      <ion-col *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1];" size="12" size-lg="3" size-md="4" size-xs="12">
        <ion-card>
          <ion-img src="../../../assets/shapes.svg"></ion-img>

          <ion-card-header>
            <ion-card-subtitle>Card subtitle</ion-card-subtitle>
            <ion-card-title></ion-card-title>

          </ion-card-header>

          <ion-card-content>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic, doloribus vel aut harum, dignissimos cumque sapiente, omnis aspernatur eveniet ducimus eum soluta quo aperiam veritatis earum illo dolore blanditiis consectetur?</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
